body {
  overflow-y:scroll;
  background: url(../img/bg.png);
}

h1.logo {
    font-size: 64pt;
    font-family: 'Gruppo', cursive;
    margin: 0px;
    color: #669900;
    text-align: center;
}

div.main {
  margin: 0px auto;
  width: 600px;
  padding: 20px;
  xbackground-color:red;
}

#query_bar {
    xtext-align: center;
    padding-bottom: 20px;
}

#term {
    width: 590px;
    border: 1px solid #7cb4c1;
    xborder: 0px;
    font:bold 14pt arial;
    outline:none;
    padding: 4px;
    color: #7cb4c1;
    background-color: #46483e;
}

#query_form {
    text-align: center;
}

#query_submit {
    margin: 6px;
    border: 1px solid #bad8e0;
    background-color: #7cb4c1;
    font:bold 10pt arial;
    padding: 4px;
    color: #46483e;
}


div.result {
  width: 600px;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
  color: #2290c6;
  background: url(../img/rbg.png);
  -webkit-box-shadow:  0px 0px 4px 4px rgba(255, 255, 255, 0.2);
  box-shadow:  0px 0px 4px 4px rgba(255, 255, 255, 0.2);
}

div.rank {
  padding: 10px;
  width: 30px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  float: left;
  font:bold 16pt arial;
  background-repeat: no-repeat;
  background-position: 15px 15px;
}
div.details {
    position:relative;
  width: 529px;
  font: 12pt arial;
  padding: 10px;
  float: right;
  xborder-left: 1px solid #7cb4c1;
}


div.result a {
  text-decoration: none;
  color: #690;
}
div.result a:hover {
  text-decoration: underline;
}

div.topline a.topline {
  margin: 0px;
  font: 12pt arial;
  height: 30px;
  line-height: 30px;
  display: block;
}
div.topline a.site {
  margin: 0px;
  font: 16pt arial;
  float: left;
}
div.topline a.npm {
  text-align: right;
  margin-left:10px;
  float: right;
}
div.topline a.git {
  text-align: right;
  margin-left:10px;
  float: right;
}


div.maints {
  float:left;
  width: 529px;
  padding: 0px 0px;
}

div.maints a {
  text-decoration: none;
  margin-right: 10px;
}


p.desc {
  float:left;
  width: 485px;
  padding: 5px 0px;
  margin: 0px;
  font: 10pt arial;
}


p.meta {
  float:right;
  width: 44px;
  padding: 5px 0px;
  margin: 0px;
  font: 8pt arial;
  text-align:right;
  xbackground-color: red;
  height:10px;
  bottom:10px;
  right:10px;
  position:absolute;
}
p.meta a.similar {
  display: none;
}

div.tm {
    display: none;
}
