@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\e000";
}
.icon-github:before {
	content: "\e001";
}
.icon-github-2:before {
	content: "\e002";
}
.icon-star:before {
	content: "\e003";
}


html, body {
  background: url(../img/bg.png);
  padding: 0px;
  margin: 0px;
  height:100%;
}

body {
  overflow-y:scroll;
}

div.body {
  position:relative;
  min-height:100%;
}

a.logo {
  text-decoration: none;
}

h1.logo {
    font-size: 64pt;
    font-family: 'Gruppo', cursive;
    margin: 0px;
    color: #669900;
    text-align: center;
}

div.main {
  margin: 0px auto;
  width: 600px;
  padding: 20px;
  xbackground-color:red;
  padding-bottom: 60px;

}

#query_bar {
    xtext-align: center;
    padding-bottom: 20px;
}

#term {
    width: 590px;
    border: 1px solid #7cb4c1;
    xborder: 0px;
    font:bold 14pt arial;
    outline:none;
    padding: 4px;
    color: #7cb4c1;
    background-color: #46483e;
}

#query_form {
    text-align: center;
}

#query_submit {
    margin: 6px;
    border: 1px solid #bad8e0;
    background-color: #7cb4c1;
    font:bold 10pt arial;
    padding: 4px;
    color: #46483e;
}


div.result {
  width: 600px;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
  color: #2290c6;
  background: url(../img/rbg.png);
  -webkit-box-shadow:  0px 0px 4px 4px rgba(255, 255, 255, 0.2);
  box-shadow:  0px 0px 4px 4px rgba(255, 255, 255, 0.2);
}

div.result.focused {
  -webkit-box-shadow:  0px 0px 4px 4px rgba(255, 255, 255, 0.9);
  box-shadow:  0px 0px 4px 4px rgba(255, 255, 255, 0.9);
}

div.rank {
  padding: 10px;
  width: 30px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  float: left;
  font:bold 16pt arial;
  background-repeat: no-repeat;
  background-position: 15px 15px;
}
div.details {
    position:relative;
  width: 529px;
  font: 12pt arial;
  padding: 10px;
  float: right;
  xborder-left: 1px solid #7cb4c1;
}


div.result a {
  text-decoration: none;
  color: #690;
}
div.result a:hover {
  text-decoration: underline;
}

div.topline a.topline {
  margin: 0px;
  font: 12pt arial;
  height: 24px;
  line-height: 24px;
  display: block;
}
div.topline a.site {
  margin: 0px;
  font: 16pt arial;
  float: left;
  cursor: pointer;
}
div.topline a.npm {
  text-align: right;
  margin-left:10px;
  float: right;
}
div.topline a.git {
  text-align: right;
  margin-left:10px;
  float: right;
}


div.maints {
  float:left;
  width: 529px;
  padding: 0px 0px;
}

div.maints a {
  text-decoration: none;
  margin-right: 10px;
}


div.time {
  float:left;
  width: 529px;
  padding: 0px 0px 10px 0px;
  font: 10pt arial;
}


p.desc {
  float:left;
  width: 485px;
  padding: 5px 0px;
  margin: 0px;
  font: 10pt arial;
}


p.meta {
  float:right;
  width: 66px;
  padding: 5px 0px;
  margin: 0px;
  font: 8pt arial;
  text-align:right;
  xbackground-color: red;
  height:10px;
  bottom:30px;
  right:10px;
  position:absolute;
}
p.meta a.similar {
  display: none;
}

div.tm {
    display: none;
}


#footer {
    margin: 0px;
    margin-top: 60px;
    padding: 0px;
    xborder-top: 1px solid #7cb4c1;
    position:absolute;
    bottom:0px;
    width:100%;
    height:30px;
    text-align: right;
    line-height: 24px;
}

#footer a {
  text-decoration: none;
  color: #7cb4c1;
  margin: 0px;
  padding: 0px;
  font:10pt arial;
}

#footer a div {
  display: inline-block;
}

#footer a.about:hover {
    text-decoration: underline;
    cursor: pointer;
}



#welcome {
  margin: 0px auto;
  width: 560px;
  height: 600px;
  xbackground-color: red;
  border: 1px solid #2290c6;
  color: #690;
  font:16pt arial;
  padding: 20px;
}

#welcome a {
  color: #690;
}



